<h3>Create a band</h3>

<form action="/bands" method="post">
  <label for="band">Band Name:</label>
  <input name="band" id="band" type="text">
  <button type="submit" class="btn btn-info">Add the band</button>
</form>
