<!DOCTYPE html>
<html>
  <head>
    <title>CONCERT HUB</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/main.css'>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
    <footer>
      <br>
      <div class="container">
        <br>
        <button class="btn"><a href="/">Home</a></button>
        <button class="btn"><a href="/bands">View Bands</a></button>
        <button class="btn"><a href="/venues">View Venues</a></button>
        <button class="btn"><a href="/band_form">Add a Band</a></button>
        <button class="btn"><a href="/venue_form">Add a Venue</a></button>
      </div>
    </footer>
  </body>
</html>
