<h3>Insert a Venue to your CONCERTHUB profile</h3>

<form action="/venues" method="post">
  <label for="venue">Venue Name:</label>
  <input name="venue" id="venue" type="text">
  <button type="submit" class="btn btn-info">Add the Venue</button>
</form>
